
module mariadb-server 1.0;

require {
    type anon_inodefs_t;
    type apmd_var_run_t;
    type cupsd_var_run_t;
    type rsync_exec_t;
    type kerberos_port_t;
    type mysqld_t;
    type proc_net_t;
    type rpcbind_var_run_t;
    type var_t;
    class dir search;
    class file { read write getattr open execute execute_no_trans };
    class process setpgid;
    class sock_file getattr;
    class tcp_socket { name_bind name_connect };
}

#============= mysqld_t ==============
allow mysqld_t anon_inodefs_t:file { write getattr };
allow mysqld_t apmd_var_run_t:sock_file getattr;
allow mysqld_t cupsd_var_run_t:dir search;
allow mysqld_t cupsd_var_run_t:sock_file getattr;
allow mysqld_t kerberos_port_t:tcp_socket { name_bind name_connect };
allow mysqld_t proc_net_t:file { read getattr open };
allow mysqld_t rpcbind_var_run_t:sock_file getattr;
allow mysqld_t rsync_exec_t:file { read getattr open execute execute_no_trans };
allow mysqld_t self:process setpgid;
allow mysqld_t var_t:sock_file getattr;
